h1{
    color:rgb(255, 174, 0)
}
body{
    background-color: rgb(204, 39, 39);
    color: white;
    line-height: 1.6;
}
.card{
    background-color: #8b3d3d;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#out-bom{
    color: white;

}
button{
    background-color: rgb(255, 174, 0);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#Correos{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    color: black;
}